@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
   font-family: 'Poppins', sans-serif;
   margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;  }


orange{
   color: #E46820}
blue{
   color: #2E283F}
green{
   color: #7BB839}
 .logo2 {
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 30px;
   margin-left: 40px;
   margin-bottom: 10px;
  color: #D0807C;
  font-size: 20px;
}


 .sidenav {
  background: #fff;
  overflow-x: hidden;
  padding: 8px 0;
  border: 1px solid black;
  position: relative;
  margin-top: 15%;
  margin-left: 50px;
  z-index: 1;
  width: 80%;
  padding: 20px;
}

.sidenav a {
  padding: 4px 6px 4px 14px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
}
    
    
.sidenav a:hover {
  color: #2E283F;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*photo gallery*/
* {
   box-sizing: border-box;
}
.outer-grid {
   display: flex;
   flex-wrap: wrap;
   padding: 0 4px;
   width: 100%;
   margin-top: 50px;
}
.inner-grid {
   flex: 25%;
   max-width: 25%;
   padding: 0 px;
   overflow: hidden;
}
.inner-grid img {
   width: 100%;
   padding: 2px;
   margin-bottom: 3px;
   z-index: 2;
}

@media screen and (max-width: 800px) {
   .inner-grid {
      flex: 50%;
      max-width: 50%;
   }
}
/*photo gallery-end*/

input[type=radio] {
    display:none; 
}
input[type=radio] + label {
    display:inline-block;
 width:95%;
 padding:10px;
 border:1px solid #ddd;
 margin-bottom: 0px;
 cursor: pointer;
}
input[type=radio] + label:hover{ border:1px solid #000000;}
input[type=radio]:checked + label { 
   background-image: none;
   background-color:#00B4AB;
 color:black;
 border:1px solid #00B4AB !important;
 -webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.worngans{ background-color:#D91E4C;color:black; border:1px solid #D91E4C !important;-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;}

.scp-quizzes-data{
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}
.scp-quizzes-data h3{
 overflow: hidden;}
 
@media only screen and (max-width: 650px) {
.scp-quizzes-data{
  margin-top: 20%;}
  }
@media only screen and (max-width: 400px) {
.scp-quizzes-data{
  margin-top: 25%;}
  }
.modal-body, .modal-title{
  color: black;}
  
.btn{
  padding: 0;
  width:95%;
  text-align: left;
}
.btn-mytype{
  background-color: #FFD931;
  padding: 7px;
  border: 0;
}
h1{
   margin-left: 20px;
   margin-top: 5%;
   margin-bottom: 2%;}
u{
   -webkit-text-decoration: #007693 solid underline;
  text-decoration: #007693 2px solid underline;
  -webkit-text-underline-position: under;
  text-underline-position: under;
  color: #007693;
  font-weight: bold;}
u2{
  color: #001B55;
  font-size: 20px;
  font-weight: bold;}
  
  
/*sections*/
.one-section{
   width: 100%;
   position: relative ;
}
.side-column {
  width: 330px;
   height: 80%;
  position: relative;
  margin-top: 0.5%;
  background: ;
  overflow: hidden;
  float: right;
  margin-left:15px
}
.main-section, .history-section, .notes-section {
  margin-left: 8px;
  padding: 0px 10px;
  text-align: ;
  word-spacing: 8px;
}
.main-section li {
  list-style: circle;
  margin-left: 1 em;
  overflow: visible;
  color: black;
  z-index: 2;
}
.side-column img {
 width: 100%;
}
.notes-section{
   width: 100%;
  }


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  margin-top: -8px;
}

td {
  border: 1px solid #D9BEA6;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #D9BEA6;
}
tr:nth-child(odd) {
  background-color: #ECD3BD;
}

@media only screen and (max-width: 675px) {
    .history-section{
   width: 100%;
  }


}
@media only screen and (max-width: 630px) {
 .main-section {
  width: 95%;
  }
 .sidenav {
  margin-top: 20%;
  margin-left: 28px;
  width: 90%;  
}
 .side-column {
  float: left;
  margin-left: 40px;
  width: 85%;
}
}

@media only screen and (max-width: 500px) {
 .side-column {
  width: 100%;
  margin-left: 0px; !important
   }
 .sidenav {
  margin-left: 20px;
  margin-top: 25%;
 }
}
@media only screen and (min-width: 1440px) {
   .notes-section{
   margin-left: 8px;
  padding: 0px 10px;
  text-align: ;
  word-spacing: 8px;
   width: 50%;
  }
}
   
